[Unit]
Description=Mydog Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/mydog
ExecStart=/bin/bash -lc 'source .venv/bin/activate && python -m app.main'
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
